<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>SHErrLoc: a Static Holistic Error Locator</title>

        <meta name="author" content="Josh Acay">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Reveal.js theme -->
        <link rel="stylesheet" href="<%= require('reveal.js/css/reveal.css')%>">
        <link rel="stylesheet" href="<%= require('reveal.js/css/theme/black.css')%>" id="theme">

        <!-- Theme used for syntax highlighting of code -->
        <link rel="stylesheet" href="<%= require('reveal.js/lib/css/zenburn.css')%>">

        <!-- Printing and PDF exports -->
        <script>
                var link = document.createElement( 'link' );
                link.rel = 'stylesheet';
                link.type = 'text/css';
                link.href = window.location.search.match( /print-pdf/gi )
                    ? "<%= require('reveal.js/css/print/pdf.css')%>"
                    : "<%= require('reveal.js/css/print/paper.css')%>";
                document.getElementsByTagName( 'head' )[0].appendChild( link );
        </script>

        <!--[if lt IE 9]>
        <script src="<%= require('reveal.js/lib/js/html5shiv.js')%>"></script>
        <![endif]-->
    </head>

    <body>
    <div class="reveal">
        <div class="slides borders">
            <section>
                <h1>SHErrLoc</h1>
                <h3>A Static Holistic Error Locator</h3>
                <p>Presented by <a href="http://www.coskuacay.com/">Josh Acay</a></p>

                <h4 style="margin-top: 1em">Authors</h4>
                <div>
                    <div style="display: inline-block; margin-right: 2em">
                        <small style="margin-right: 1em">Danfeng Zhang</small>
                        <small>Andrew C. Myers</small>
                        <br>
                        Cornell University
                    </div>
                    <div style="display: inline-block">
                        <small style="margin-right: 1em">Dimitrios Vytiniotis</small>
                        <small>Simon Peyton-Jones</small>
                        <br>
                        Microsoft Research
                    </div>
                </div>

                <h3 style="margin-top: 1em">PLDG 10/3</h3>
            </section>

            <section>
                <section>
                    <h2>Error Messages Suck</h2>

                    <ul>
                        <li> Haskell
                            <pre><code class="haskell" data-trim data-noescape>
                                fac n =
                                    if n == <span class="fragment mark-purple" data-fragment-index="1">0</span> then
                                        1
                                    else
                                        n * fac (<span class="fragment mark-red" data-fragment-index="2">n == 1</span>)
                            </code></pre>

                            <div class="fragment" data-fragment-index="1">
                                <span class="bg-purple">GHC (8.4.2) Report:</span>
                                <pre><code class="nohighlight" data-trim>
                                    No instance for (Num Bool) arising from
                                    the literal ‘0’
                                </code></pre>
                            </div>

                            <div class="fragment" data-fragment-index="2">
                                <span class="bg-red">SHErrLoc Report:</span>
                                <pre><code class="nohighlight" data-trim>
                                    Expressions in the source code that appear most
                                    likely to be wrong: n == 1
                                </code></pre>
                            </div>

                            <aside class="notes">
                                But of course Haskell sucks!
                            </aside>
                        </li>
                    </ul>
                </section>


                <section>
                    <h2>Error Messages Still Suck</h2>

                    <ul>
                        <li> Haskell
                            <pre><code class="haskell" data-trim data-noescape>
                                fac <span class="bg-purple">0</span> =
                                    1
                                fac n =
                                    n * fac (<span class="bg-red">n == 1</span>)
                            </code></pre>

                            <div>
                                <span class="bg-purple">GHC (8.4.2) Report:</span>
                                <pre><code class="nohighlight" data-trim>
                                    No instance for (Num Bool) arising from
                                    the literal ‘0’
                                </code></pre>
                            </div>

                            <div>
                                <span class="bg-red">SHErrLoc Report:</span>
                                <pre><code class="nohighlight" data-trim>
                                    Expressions in the source code that appear most
                                    likely to be wrong: n == 1
                                </code></pre>
                            </div>
                        </li>
                    </ul>
                </section>
            </section>

            <section>
                Of course, it's Haskell!
            </section>

            <section>
                <h2>OCaml Sucks Worse</h2>

                <ul>
                    <li> OCaml
                        <pre><code class="ocaml" data-trim data-noescape>
                            let f (lst : move list): (float * float) list =
                                let rec loop lst x y dir acc =
                                    if lst = [] then
                                        acc
                                    else
                                        <span class="fragment mark-red" data-fragment-index="2">print_string "foo"</span>
                                in
                                List.rev ( loop lst 0.0 0.0 0.0 <span class="fragment mark-orange" data-fragment-index="1">[(0.0,0.0)]</span> )
                        </code></pre>
                    </li>

                    <div style="zoom: 75%">
                        <div style="float: left; width: 60%; margin-right: 5%">
                            <div class="fragment" data-fragment-index="1">
                                <span class="bg-orange">OCaml (4.07.0) Report:</span>
                                <pre><code class="nohighlight" data-trim>
                                    This variant expression is expected to have type unit
                                    The constructor :: does not belong to type unit
                                </code></pre>
                            </div>

                            <div class="fragment" data-fragment-index="2">
                                <span class="bg-red">SHErrLoc Report:</span>
                                <pre><code class="nohighlight" data-trim>
                                    Expressions in the source code that appear most
                                    likely to be wrong: print_string “foo”
                                </code></pre>
                            </div>
                        </div>

                        <div class="fragment" data-fragment-index="1" style="float: right; width: 35%">
                            <p>Reported location unrelated to error.</p>

                            <p>BTW: message talks about desugared code (no <code>::</code> in source!).</p>
                        </div>
                    </div>


                    <aside class="notes">
                        <ul>
                            <li>OCaml doesn't show the expression at all! Only gives source range.</li>

                            <li>OCaml message refers to desugared code. There is no <code>::</code> in source!</li>
                        </ul>
                    </aside>
                </ul>
            </section>

            <section>
                <h2>In This Work</h2>

                Only interested in error <em>locations</em> not messages.
            </section>

            <section>
                <h2>Problem with Standard Type Inference</h2>

                <ul>
                    <li class="fragment">
                        Local reasoning&mdash;errors are reported at the point inconsistency is detected.
                    </li>

                    <li class="fragment">
                        Eager unification and constraint simplification.
                        <ul>
                            <li class="fragment">
                                Loses valuable information.
                            </li>
                            <li class="fragment">
                                Order is builtin to the compiler.
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>

            <section>
                <h2>SHErrLoc</h2>

                <ul>
                    <li class="fragment">
                        Is holistic: looks at the entire constraint <em>graph</em>.
                    </li>
                    <li class="fragment">
                        Considers both satisfiable and unsatisfiable constraints.
                        <ul>
                            <li class="fragment">
                                Intuition: programs are mostly correct.
                            </li>
                            <li class="fragment">
                                Justified using Bayesian principles.
                            </li>
                        </ul>
                    </li>

                    <li class="fragment">
                        Is language agnostic&mdash;works over a general constraint language.
                    </li>

                    <li class="fragment">
                        Can handle type checking; information flow, data flow, and points-to analysis.
                    </li>
                </ul>
            </section>

            <section>
                <h2>Evaluation</h2>
            </section>

            <section>
                <section>
                    <h2>Alternative Approaches</h2>
                </section>

                <section>
                    <h2>Multiple Error Locations</h2>

                    <ul>
                        <li> Haskell
                            <pre><code class="haskell" data-trim data-noescape>
                                prepend n s =
                                    <span class="bg-red">n</span> ++ " " ++ s

                                x = prepend <span class="bg-purple">1</span> "line"
                            </code></pre>

                            <div>
                                <span class="bg-purple">GHC (8.4.2) Report:</span>
                                <pre><code class="nohighlight" data-trim>
                                    No instance for (Num [Char]) arising from
                                    the literal ‘1’
                                </code></pre>
                            </div>

                            <div>
                                <span class="bg-red">SHErrLoc:</span>
                                <p><small>Error explanation contains two locations (red and purple).</small></p>
                            </div>
                        </li>
                    </ul>
                </section>
            </section>

            <section>
                <h2>Future Work</h2>
                <ul>
                    <li class="fragment">
                        Priors: use data instead of heuristics.
                    </li>

                    <li class="fragment">
                        Produce substitutions so we can do type inference.
                    </li>

                    <li class="fragment">
                        (Automatically) generate error <em>messages</em>.
                    </li>

                    <li class="fragment">
                        Run faster.
                    </li>
                </ul>
            </section>

            <section>
                <section>
                    <h2>Demo</h2>

                    <p>
                        Haskell:
                        <a target="_blank" href="http://apl.cs.cornell.edu/~zhangdf/haskelldiagnostic">
                            http://apl.cs.cornell.edu/~zhangdf/haskelldiagnostic
                        </a>
                    </p>

                    <p>
                        OCaml:
                        <a target="_blank" href="http://apl.cs.cornell.edu/~zhangdf/diagnostic">
                            http://apl.cs.cornell.edu/~zhangdf/diagnostic
                        </a>
                    </p>
                </section>

                <section id="haskell-demo">
                    <h2>Haskell Demo</h2>
                    <iframe data-src="http://apl.cs.cornell.edu/~zhangdf/haskelldiagnostic"></iframe>
                </section>

                <section id="ocaml-demo">
                    <h2>OCaml Demo</h2>
                    <iframe data-src="http://apl.cs.cornell.edu/~zhangdf/diagnostic"></iframe>
                </section>
            </section>

            <section>
                Questions?
            </section>
        </div>
    </div>

    <script src="<%= require('reveal.js/lib/js/head.min.js')%>"></script>
    <script src="<%= require('reveal.js/js/reveal.js')%>"></script>

    <style>
        /* Fix width of list elements so nested code blocks fit the screen. */
        .reveal .slides section ul {
            width: 80%;
        }

        /* Make iframes full-page. */
        .reveal .slides section iframe {
            width: 100%;
            height: 500px;
        }

        .reveal .slides.borders section:not(.stack) {
            border: 2px solid white;
        }

        /* <mark> with a color when the time comes, then keep the color. */
	    .reveal .slides section .fragment[class*="mark-"] {
	        opacity: inherit !important;
	        visibility: inherit !important;
	    }
	    .reveal .slides section .fragment.mark-yellow.visible {
	        background-color: #FFDC00;
	    }
	    .reveal .slides section .fragment.mark-orange.visible {
	        background-color: #FF851B;
	    }
	    .reveal .slides section .fragment.mark-red.visible {
	        background-color: #FF4136;
	    }
	    .reveal .slides section .fragment.mark-purple.visible {
	        background-color: #B10DC9;
	    }

        .reveal .slides section .fragment.step-fade-in-then-out {
	        opacity: 0;
	        display: none;
	    }
        .reveal .slides section .fragment.step-fade-in-then-out.current-fragment {
	        opacity: 1;
	        display: inline;
	    }

        .reveal .slides section .fragment.step-fade-out {
	        opacity: 1;
	        visibility: visible !important;
	        display: inline;
	    }
        .reveal .slides section .fragment.step-fade-out.visible {
	        opacity: 0;
	        display: none;
	    }

        .reveal .slides section .fragment.step-fade-in {
	        opacity: 0;
	        display: none;
	    }
        .reveal .slides section .fragment.step-fade-in.visible {
	        opacity: 1;
	        display: inline;
	    }

    </style>
    </body>
</html>